# Environment variables
VITE_SQUARE_API_KEY_SANDBOX_TOKEN=
VITE_SQUARE_API_KEY_PRODUCTION_TOKEN=
VITE_SQUARE_APPLICATION_ID_SANDBOX=
VITE_SQUARE_ENVIRONMENT=dev
VITE_SQUARE_API_URL_V2_SANDBOX=https://connect.squareupsandbox.com
VITE_SQUARE_API_URL_V2_PRODUCTION=
VITE_SQUARE_API_VERSION=2026-05-20
VITE_ORDER_CONFIRMATION_BASE_URL=localhost:5173/order-confirmation
VITE_SQUARE_LOCATION_ID=
VITE_SITE_NAME=Baddie Bean
